@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

@font-face {
  font-family: 'Rossanova';
  src: url('/rossanova/RossanovaTrial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rossanova';
  src: url('/rossanova/RossanovaTrial-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rossanova';
  src: url('/rossanova/RossanovaTrial-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  @apply text-gray-900 antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rossanova', serif;
}